*{
  margin: 0;
  padding: 0;
  }

  body {
    background-image: url(..//images/background.jpg);
    background-repeat: repeat-x;
    height: 1020px;
  }

  #wrapper {
    position: relative;
    margin: auto;
    background-color: white;
    width: 1000px;
    height: 990px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
  }

  .header {
    height: 175px;
  }

  .logo {
    float: left;
    width: 283px;
    height: 164px;
    margin-left: 28px;
    margin-top: 11px;
  }

  .text-logo {
    margin-top: -70px;
    margin-left: 70px;
    color: #128aa7;
    font: 12px Tahoma;
  }

  .contacts-clearfix {
	  float: right;
	  padding-top: 5px;
	  padding-right: 14px;
	  color: #128aa7;
	  text-align: left;
	  font: 12px Tahoma;
    line-height: 1.6;
  }

  .contacts-clearfix:after{
    content: '';
    clear: both;
    display: block;
  }

  .container-head {
    display: inline-block;
    position: relative;
    float: right;
    width: 350px;
    height:170px;
    padding-right: 20px;
  }


  .countries {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 40px;
    font: 10px Tahoma;
    margin-top: 28px;
    text-align: center;
    margin-left: -29px;
    border: none;
  }

  .countries a {
    color: #128aa7;
  }

  .countries a:hover {
    color: red;
  }

  .icon1 {
    position: relative;
    display: inline-block;
  }

  .icon1 img {
    display: inline-block;
    background: url(..//images/India.png) no-repeat center center;
    width: 42px;
    height: 42px;
    margin: 0 auto;
    padding: 0 6px 0 6px;
    border-radius: 100%;
    margin: 0 auto;
  }

  .icon2 {
    position: relative;
    display: inline-block;
  }

  .icon2 img {
    display: inline-block;
    background: url(..//images/Nepal.png) no-repeat center center;
    width: 42px;
    height: 42px;
    padding: 0 6px 0 6px;
    border-radius: 100%;
    margin: 0 auto;
  }

  .icon3 {
    position: relative;
    display: inline-block;
  }

  .icon3 img {
    display: inline-block;
    background: url(..//images/Tibet.png) no-repeat center center;
    width: 42px;
    height: 42px;
    padding: 0 6px 0 6px;
    border-radius: 100%;
    margin: 0 auto;
  }

  .icon4 {
    position:relative;
    display: inline-block;
  }

  .icon4 img {
    display: inline-block;
    background: url(..//images/Butan.png) no-repeat center center;
    width: 42px;
    height: 42px;
    padding: 0 6px 0 6px;
    border-radius: 100%;
    margin: 0 auto;
  }

  .icon5 {
    position: relative;
    display: inline-block;
  }

  .icon5 img {
    display: inline-block;
    background: url(..//images/Sri-Lanka.png) no-repeat center center;
    width: 42px;
    height: 42px;
    padding: 0 6px 0 6px;
    border-radius: 100%;
    margin: 0 auto;
  }

  .icon6 {
    position: relative;
    display: inline-block;
  }

  .icon6 img {
    display: inline-block;
    background: url(..//images/Maldives.png) no-repeat center center;
    width: 42px;
    height: 42px;
    padding: 0 6px 0 6px;
    border-radius: 100%;
    margin: 0 auto;
  }


  .main-picture {
    height: 237px;
  }

  .menu {
    position: absolute;
    text-align: center;
    box-sizing: border-box;
  	width: 1000px;
	  height: 30px;
  	border-top: 1px solid white;
  	border-bottom: 2px solid black;
  	background-color: #343434;
  	box-shadow: 0 2px 5px rgba(0,0,0,0.8);
    padding-left: 56px;
  }

  .arrow1 {
    position: absolute;
    margin-left: 88px;
    margin-top: -10px;
    border-color: white transparent transparent  transparent;
	  border-style: solid;
	  border-width: 5px 5px 0 5px;
	  height: 0px;
	  width: 0px;
  }

  .arrow2 {
    position: absolute;
    margin-left: 48px;
    margin-top: -10px;
    border-color: white transparent transparent  transparent;
	  border-style: solid;
	  border-width: 5px 5px 0 5px;
	  height: 0px;
	  width: 0px;
  }

  .arrow3 {
    position: absolute;
    margin-left: 75px;
    margin-top: -10px;
    border-color: white transparent transparent  transparent;
	  border-style: solid;
	  border-width: 5px 5px 0 5px;
	  height: 0px;
	  width: 0px;
  }

  .menu ul li {
  	float: left;
	  list-style-type: none;
	  text-decoration: none;
    margin-top: 3px;
	  padding: 2px 58px 2px 10px;
   }

   .menu ul li a {
	  color: white;
	  font: 14px Tahoma;
  	text-decoration: none;
   }

  .menu ul li img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
  }

  .menu__list {
    position: relative;
  }

  .menu__drop {
    position: absolute;
    display: block;
    top: -9999em;
    margin-left: -10px;
    margin-top: 2px;
    border-top: 2.5px solid black;
    width: auto;
    opacity: 0;
    transition: 0.5s opacity;
    box-shadow: 1px 4px 5px rgba(0,0,0,0.8);
  }

  .menu__drop ul li {
    padding: 0px 26px 0px 0px;
  }

  .menu__list:hover .menu__drop {
    opacity: 1;
    top: 100%;
    background-color: #343434;
  }

  .menu__drop li a:hover {
    color: #8b8989;
  }

  .arrow:after {
    border: 20px solid transparent;	border-left: 20px solid white;
  }

   .info {
	   float: left;
	   display: block;
	   background-color: #edeef0;
	   width: 176px;
	   height: 513px;
	   color: #424c43;
	   border-right: 0.5px solid #c7cacf;
	   font: 14px Tahoma;
	   text-align: center;
	   padding: 38px 17px 17px 17px;
	   line-height: 24px;
   }

   .main-info {
	   float: left;
	   display: block;
     box-sizing: border-box;
	   width: 548px;
	   height: 513px;
	   padding: 38px 17px 17px 17px;
     font: 14px Tahoma;
   }

   .news {
	   float: right;
	   display: block;
	   background-color: #edeef0;
	   border-left: 0.5px solid #c7cacf;
	   width: 176px;
	   height: 513px;
	   color: #424c43;
	   font: 14px Tahoma;
	   text-align: center;
	   padding: 38px 17px 17px 17px;
	   line-height: 24px;
   }

  .footer p {
    color: white;
    text-align: center;
    font: 12px Tahoma;
    padding-top: 9px;
  }
